apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: giropops-senhas
  name: giropops-senhas
spec:
  replicas: 1
  selector:
    matchLabels:
      app: giropops-senhas
  template:
    metadata:
      labels:
        app: giropops-senhas
    spec:
      containers:
      - image: carlosclaro/goropops-senhas:1.0
        name: giropops-senhas
        env:
        - name: REDIS_HOST
          value: redis-service
        ports:
        - containerPort: 5000
        resources: 
          limits:
            cpu: 20m
            memory: 96Mi
          requests:
            cpu: 15m
            memory: 64Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: redis
  name: redis-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - image: cgr.dev/chainguard/redis
        name: redis
        ports:
          - containerPort: 6379
        resources:
          limits:
            memory: "64Mi"
            cpu: "40m"
          requests:
            memory: "32Mi"
            cpu: "15m"